<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Companies List</title>
</head>
<body>
<main>
    <div class="container" th:fragment="companiesFragment">
        <!-- Table with panel -->
        <div class="card card-cascade narrower" id="results-block">

            <!--Card image-->
            <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                <div>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                        <i class="fas fa-th mt-0"></i>
                    </button>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                        <i class="fas fa-columns mt-0"></i>
                    </button>
                </div>

                <a href="" class="white-text mx-3">Table name</a>

                <div>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                        <i class="fas fa-pencil-alt mt-0"></i>
                    </button>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                        <i class="fas fa-eraser mt-0"></i>
                    </button>
                    <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                        <i class="fas fa-info-circle mt-0"></i>
                    </button>
                </div>

            </div>
            <!--/Card image-->

            <div class="px-4">

                <div class="table-wrapper">
                    <!--Table-->
                    <table id="companiesList" class="table table-hover mb-0">

                        <!--Table head-->
                        <thead>

                        <!--<th>-->
                        <!--<input class="form-check-input" type="checkbox" id="checkbox">-->
                        <!--<label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>-->
                        <!--</th>-->
                        <tr>
                            <th class="th-lg">
                                <a>
                                    <th:block th:utext="#{company.name}"></th:block>
                                    <i class="fas fa-sort ml-1"></i>
                                </a>
                            </th>
                            <th class="th-lg">
                                <a>
                                    <th:block th:utext="#{company.bin}"></th:block>
                                    <i class="fas fa-sort ml-1"></i>
                                </a>
                            </th>
                            <th class="th-lg">
                                <th:block th:text="#{company.address}"></th:block>
                                <!--<a>                                  -->
                                    <!--<i class="fas fa-sort ml-1"></i>-->
                                <!--</a>-->
                            </th>
                            <th class="th-lg">
                                <th:block th:utext="#{company.head}"></th:block>
                                <!--<a>-->
                                    <!--<i class="fas fa-sort ml-1"></i>-->
                                <!--</a>-->
                            </th>
                            <th class="th-lg">
                                <th:block th:utext="#{company.branch}"></th:block>
                                <!--<a>-->
                                    <!--<i class="fas fa-sort ml-1"></i>-->
                                <!--</a>-->
                            </th>
                        </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody>
                        <tr th:each="company : ${data.content}">
                            <td><a th:href="@{'/companies/' +  ${company.id}}" th:text="${company.nameRu}"></a></td>
                            <td th:text="${company.bin}"></td>
                            <td th:text="${company.address}"></td>
                            <td th:text="${company.headFio}"></td>
                            <td th:text="${company.branch_ru}"></td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>

            </div>

        </div>
        <!-- Table with panel -->
    </div>
</main>
</body>
</html>